# Generated data outputs
*.csv
*.tsv
*.json
*.npy
*.npz
*.pkl
*.h5
*.curve
.idea/*
.DS*
# Generated images/photos
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tif
*.tiff
*.svg
.venv/
jax_env/
__pycache__/
*.h5
.vscode/
# profile
/profiles/*

# Python intermediate files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
Solvers/2D_Wave/FP_64/output_sowave/wave.xdmf
